{% extends "SportsRushAdminBundle::admin.html.twig" %}

    {% block sidebar %}
    {% import _self as itself %}
    {% endblock %}

    {% block body %}

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Table Name</th>
                    <th>Class Name</th>
                    <th>Root Entity Name</th>
                </tr>
            </thead>
            <tbody>
                {% for tbl, cls in mapping %} 
                <tr>
                    <td></td>
                    <td>{{ tbl }}</td>
                    <td>{{ cls.name }}</td>
                    <td>{{ cls.rootEntityName }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    {% endblock %}


